---

---

<section id="about">
        <div class="row-2">
            <div class="icon-container">
                <img class="icon" src="/dist/img/info_icon.png" alt="a">
            </div>
            <div class="text-container">
                <p class="lato-small lato-white">Desarrollador en formación, con una fuerte pasión por la programación y la tecnología. Aunque aún no cuento con experiencia profesional, me encuentro en constante aprendizaje, explorando nuevas herramientas, lenguajes y metodologías que me permitan crecer en este apasionante mundo del desarrollo de software.
                    Me destaco por ser autodidacta, proactivo y con una gran capacidad para adaptarme a los desafíos. Disfruto resolviendo problemas, investigando soluciones y mejorando cada día mis habilidades tanto en el frontend como en el backend. Actualmente, estoy enfocado en fortalecer mis conocimientos en desarrollo web y móvil, trabajando en proyectos personales que me permiten aplicar lo aprendido y descubrir nuevas áreas de interés.
                    Estoy motivado por la idea de formar parte de equipos donde pueda aportar mis ideas, crecer profesionalmente y contribuir con soluciones creativas a proyectos innovadores. Mi meta es seguir evolucionando como desarrollador y convertirme en un profesional que marque la diferencia a través de la tecnología.</p>
            </div>
        </div>
</section>

<style>
    .row-2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .text-container{
        width: 50%;
    }
    .icon-container{
        width: 2rem;
        height: 2rem;
    }
    .icon{
        width: 100%;
        height: 100%;
    }
    .text-container p{
        text-align: justify;
    }
</style>