---
---
<section class="portfolio">
    <div>
        <div class="col-2">
            <div class="profile-container">
                <div class="school-container">
                    <p class="lato-small lato-white lato-bold">TEKKURE</p>
                    <p class="lato-small lato-white">Es una web para promocionar yo y mi equipo nuestros servicios de desarrollo de software y empezar a tener mas experiencia y dinero jeje, el proyecto esta en desarrollo actualmente pero ahi va</p>
                    <p class="lato-small lato-white">2022 - 2025</p>
                </div>
                <div class="school-container">
                    <p class="lato-small lato-white lato-bold">Densora</p>
                    <p class="lato-small lato-white">Un sistema web/movil para la gestion de citas para dentistas, incluyendo algunas implementaciones extras como un bot de whatsapp, procesamiento de imagenes y verificacion de cedulas profesionales, proyecto en desarrollo :)</p>
                    <p class="lato-small lato-white">2021 - 2025</p>
                </div>
            </div>
            <div class="profile-container">
                <div class="job-container">
                    <p class="lato-small lato-white lato-bold">Albums</p>
                    <p class="lato-small lato-white">Es un sistema web para almacenar metadatos de albumes musicales y administrar tus pistas y artistas favoritos. fue mi proyecto de base de datos :)</p>
                    <p class="lato-small lato-white">2024</p>
                </div>
                <div class="job-container">
                    <p class="lato-small lato-white lato-bold">Bytemana</p>
                    <p class="lato-small lato-white">Sistema de punto de venta que hice hace como 3 años con un framework llamado electron que utiliza tecnologias web para poder llevarla a una aplicacion de escritorio</p>
                    <p class="lato-small lato-white">2024</p>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .col-2{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .profile-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 5rem 0 5rem;
        width: auto;
        flex-grow: 1;
    }
    .job-container{
        padding: 2rem;
        background: #0c3d51;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 5rem 5rem 5rem;
        width: auto;
        flex-grow: 1;
    }
    .school-container{
        padding: 2rem;
        background: #0c3d51;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 5rem 5rem 5rem;
        width: auto;
        flex-grow: 1;
    }
</style>