---

---
<section id="train">
    <div class="col-2">
        <div class="profile-container">
            <p class="lato-bold lato-medium lato-white">FORMACION ACADEMICA</p>
            <div class="school-container">
                <p class="lato-small lato-white lato-bold">CETI</p>
                <p class="lato-small lato-white">Plantel Colomos. 7to semestre en curso</p>
                <p class="lato-small lato-white">2022 - 2025</p>
            </div>
            <div class="school-container">
                <p class="lato-small lato-white lato-bold">Instituto Cultural Mexicano Norteamericano de Jalisco A.C.</p>
                <p class="lato-small lato-white">Nivel Pro 11</p>
                <p class="lato-small lato-white">2021 - 2025</p>
            </div>
        </div>
        <div class="profile-container">
            <p class="lato-bold lato-medium lato-white">EXPERIENCIA LABORAL</p>
            <div class="job-container">
                <p class="lato-small lato-white lato-bold">SANYULNET</p>
                <p class="lato-small lato-white">Trabaje en un ciber, atendiendo clientes, sacando copias, haciendo tramites, cotorrando con los vecinos, peleandome con señoras, hacer sabotajes y embolsandome un varo extra.</p>
                <p class="lato-small lato-white">2024</p>
            </div>
            <div class="job-container">
                <p class="lato-small lato-white lato-bold">Editor de Video</p>
                <p class="lato-small lato-white">Trabaje de editor de video de bodas y varios eventos mas, no dure mucho pero me gane una usb :)</p>
                <p class="lato-small lato-white">2024</p>
            </div>
        </div>
    </div>
</section>

<style>
    .col-2{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .profile-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 5rem 0 5rem;
        width: auto;
        flex-grow: 1;
    }
    .job-container{
        padding: 2rem;
        background: #0c3d51;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 5rem 5rem 5rem;
        width: auto;
        flex-grow: 1;
    }
    .school-container{
        padding: 2rem;
        background: #0c3d51;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 5rem 5rem 5rem;
        width: auto;
        flex-grow: 1;
    }
</style>