---
import {ClientRouter} from 'astro:transitions';
import "../styles/global.css"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<title>cvWeb</title>
		<ClientRouter/>
	</head>
	<body>
		<header>
			<div class="elemento-navbar">
				<a href="#home"><p class="lato-bold">Inicio</p></a>
			</div>
			<div class="elemento-navbar">
				<a href="#about"><p class="lato-bold">Acerca de mí</p></a>
			</div>
			<div class="elemento-navbar">
				<a href="#train"><p class="lato-bold">Formación</p></a>
			</div>
			<div class="elemento-navbar">
				<a href="#train"><p class="lato-bold">Experiencia</p></a>
			</div>
			<div class="elemento-navbar">
				<a href="#portafolio"><p class="lato-bold">Portafolio</p></a>
			</div>
		</header>
		<main class="flex-1">
			<slot />
		</main>
	</body>
</html>

<style>
	header{
		width: fit-content;
		display: flex;
		flex-direction: row;
		justify-content: end;
		gap: 1rem;
		background-color: #232929;
		border-radius: 1rem;
		padding: 1rem;
		align-content: end;
		margin: 2rem 4.5rem 0 auto;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 1000;
	}
	.elemento-navbar{
		width: fit-content;
		height: fit-content;
		display: inline-block;
		max-height: 100%;
		background-color: #0c3d51;
		border-radius: 0.5rem;
	}
	.elemento-navbar p{
		margin: 0;
		padding: 0.5rem 1rem  0.5rem 1rem;
		color: white;
	}
	.elemento-navbar a{
		text-decoration: none;
	}
</style>